<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kelly Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/assets/img/favicon.png" rel="icon">
  <link href="/assets/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="/home_admin"><img src="../../assets/logo.PNG"style="width:200px; height: 200px;"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a  href="/homeadmin">Home</a></li>
          <li><a *ngIf="isAdmin" href="user" class="nav-item nav-link" >Users</a></li>
          <li><a class="active" href="/profile">Profile</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="/profile"><h3>{{currentUser.prenom}} {{currentUser.nom}}</h3></a>       </div>
        <div *ngIf="isLoggedIn">
            <button (click)="logout()" >Logout</button>
        </div>
    </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" style="height: 30px;"style="margin-bottom: 100px;" >
      <section style="background-color: #eee;height: 500px;" >
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="/homeadmin">Home</a></li>
                  <li class="breadcrumb-item"><a href="/profile">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3 custom-h5">{{currentUser.prenom}}&nbsp;{{currentUser.nom}}</h5>
                  <p class="text-muted mb-1">{{currentUser.role}}</p>
                  <div class="d-flex justify-content-center mb-2">
                    
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{currentUser.prenom}}&nbsp;{{currentUser.nom}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{currentUser.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Role</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{currentUser.role}}</p>
                    </div>
                  </div>
                  &nbsp;
                  <div class="col-sm-9">
                  <button (click)="updateProfile(currentUser.id)"  type="button" class="btn btn-primary">Edit Profile</button>
                </div>
                 
               
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </section> 
    </div>
  </section><!-- End Hero -->



  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/assets/vendor/aos/aos.js"></script>
  <script src="/assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/assets/js/main.js"></script>

</body>

</html>