h3{
    color: palevioletred;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
   
  }
  .header-social-links{
    margin-left: 400px;
  }
  .cc{
    background-color: #f50057; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }