body {
    background-color: #f8f9fa; /* Couleur de fond de la page */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: white; /* Couleur de fond des cellules */
    color: #333; /* Couleur du texte dans les cellules */
  }
  
  th {
    background-color: #FF69B4;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f5f5f5; /* Une couleur de fond pour les lignes paires */
  }
  
  tr:hover {
    background-color: #e0f7fa; /* Une couleur de fond au survol de la ligne */
  }
  
  /* Autres styles que vous pouvez ajuster selon vos préférences */
  h3, h4 {
    color: palevioletred;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
  }
  
  .header-social-links {
    margin-left: 400px;
  }
  
  .cc {
    background-color: #f50057;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-success {
    background-color: orangered;
  }
  
  .btn-danger {
    background-color: red;
  }
  
  .custom-h5 {
    font-size: 17px;
    color: #333;
    font-weight: bold;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .custom-filter-field {
    width: 100%;
    margin-top: 20px;
  }
  
  .custom-filter-input {
    background-color: #f8f9fa; /* Couleur de fond */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Marge intérieure */
    border: 1px solid #ced4da; /* Bordure */
    transition: background-color 0.3s; /* Transition de couleur de fond */
  }
  
  .custom-filter-input:focus {
    background-color: #e2e6ea; /* Couleur de fond au focus */
  }
  .mx-auto{
    position: absolute;
    right: 600px;
    top: 38px;
  }
  